#ignore the node_modules directory
node_modules/
# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.test
# google oauth2.0 info files
google_oauth2.0_client_info.json
google_oauth2.0_client_info.json.bak